<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Home</title>
</head>
<body>
      <h1>YourMusic</h1>
      <div>
            <a href="/yourmusic/profile/:username">My Profile</a><br>
            <a href="/yourmusic/songs">Song List</a><br>
            <a href="/yourmusic/artists">Artist List</a><br>
      </div>
      
</body>
</html>