<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Play!</title>
</head>
<body>
      <h1><%= song.name %><h1>
      <h3><% if (!song.artist) { %>
            <%=   song.Artist = "unknown" %>
       <% }  else { %>
            <%= song.Artist.name %>
       <%} %>
      <h3>
      <div>
            <audio controls >
                  <source src="<%= song.urlSong %>" type="audio/mpeg"> 
            </audio>
      </div>
      <a href="/yourmusic/songs">back to songlist</a>
</body>
</html>