<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>My Profile</title>
</head>
<body>
      <h1><%= username %> Profile</h1>

      <div>
            <a href="/yourmusic/profile/playlist">Playlist</a><br>
            <a href="/yourmusic/songs/">Song list</a><br>
            <a href="/yourmusic/artists/">Artist list</a><br>
      </div>
      <div>
            <a href="/logout">log out</a>
      </div>
</body>
</html>